src/META-INF/Batch.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsservers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsservers/" name="SCADAServerImplService">
<types></types>
<message name="addFertilizer">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="addFertilizerResponse"></message>
<message name="addWater">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="addWaterResponse"></message>
<message name="setBlueLight">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="setBlueLightResponse"></message>
<message name="setRedLight">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="setRedLightResponse"></message>
<message name="addCO2">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="addCO2Response"></message>
<message name="setTemperature">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="setTemperatureResponse"></message>
<message name="setMoisture">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="setMoistureResponse"></message>
<portType name="ISCADAServer">
<operation name="addFertilizer">
<input wsam:Action="http://wsservers/ISCADAServer/addFertilizerRequest" message="tns:addFertilizer"></input>
<output wsam:Action="http://wsservers/ISCADAServer/addFertilizerResponse" message="tns:addFertilizerResponse"></output>
</operation>
<operation name="addWater">
<input wsam:Action="http://wsservers/ISCADAServer/addWaterRequest" message="tns:addWater"></input>
<output wsam:Action="http://wsservers/ISCADAServer/addWaterResponse" message="tns:addWaterResponse"></output>
</operation>
<operation name="setBlueLight">
<input wsam:Action="http://wsservers/ISCADAServer/setBlueLightRequest" message="tns:setBlueLight"></input>
<output wsam:Action="http://wsservers/ISCADAServer/setBlueLightResponse" message="tns:setBlueLightResponse"></output>
</operation>
<operation name="setRedLight">
<input wsam:Action="http://wsservers/ISCADAServer/setRedLightRequest" message="tns:setRedLight"></input>
<output wsam:Action="http://wsservers/ISCADAServer/setRedLightResponse" message="tns:setRedLightResponse"></output>
</operation>
<operation name="addCO2">
<input wsam:Action="http://wsservers/ISCADAServer/addCO2Request" message="tns:addCO2"></input>
<output wsam:Action="http://wsservers/ISCADAServer/addCO2Response" message="tns:addCO2Response"></output>
</operation>
<operation name="setTemperature">
<input wsam:Action="http://wsservers/ISCADAServer/setTemperatureRequest" message="tns:setTemperature"></input>
<output wsam:Action="http://wsservers/ISCADAServer/setTemperatureResponse" message="tns:setTemperatureResponse"></output>
</operation>
<operation name="setMoisture">
<input wsam:Action="http://wsservers/ISCADAServer/setMoistureRequest" message="tns:setMoisture"></input>
<output wsam:Action="http://wsservers/ISCADAServer/setMoistureResponse" message="tns:setMoistureResponse"></output>
</operation>
</portType>
<binding name="SCADAServerImplPortBinding" type="tns:ISCADAServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="addFertilizer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="addWater">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="setBlueLight">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="setRedLight">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="addCO2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="setTemperature">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="setMoisture">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
</binding>
<service name="SCADAServerImplService">
<port name="SCADAServerImplPort" binding="tns:SCADAServerImplPortBinding">
<soap:address location="http://localhost:8002/ws/Batch"></soap:address>
</port>
</service>
</definitions>